.env
__pycache__/
*.pyc
.vscode/
uploads/
*.dump
Helix_Documentation.docx
Vitamin_Helix_Infrastructure.pdf
SERVER_ACCESS.md
Vitamin_Helix_Feature_Roadmap.pdf
ROADMAP.MD
routes/projects_old.py
app/static/wiki-uploads/
app/static/blog-uploads/