[Unit]
Description=OVP Orphaned uploads check
After=network-online.target postgresql.service

[Service]
Type=oneshot
User=helixadmin
WorkingDirectory=/home/helixadmin/project-tracker
ExecStart=/home/helixadmin/project-tracker/venv/bin/python -m app.modules.system.jobs.orphan_uploads
SyslogIdentifier=ovp-orphan-uploads
Nice=10
IOSchedulingClass=best-effort
IOSchedulingPriority=7
