[Unit]
Description=OVP Notifications purge (90 days) (Sun 04:10)

[Timer]
OnCalendar=Sun *-*-* 04:10:00
Persistent=true

[Install]
WantedBy=timers.target
